<h2>Add Post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title</label>
      <input
        #title
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="currentPost.title"
      />
    </div>
    <div class="form-group">
      <label>Body</label>
      <input
        #body
        type="text"
        class="form-control"
        name="body"
        [(ngModel)]="currentPost.body"
      />
    </div>
    <input type="hidden" name="id" [(ngModel)]="currentPost.id" />
    <button
      (click)="addPost(title.value, body.value)"
      class="btn btn-dark btn-block"
      *ngIf="!isEdit"
    >
      Add Post
    </button>
    <button
      (click)="updatePost()"
      class="btn btn-warning btn-block"
      *ngIf="isEdit"
    >
      Update Post
    </button>
  </form>
</div>
