<button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm">
  Add User
</button>
<div class="card card-body" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form (submit)="onSubmit($event)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstName" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastName" />
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="number" class="form-control" name="age" />
    </div>
    <div class="form-group">
      <label>Street Address</label>
      <input type="text" class="form-control" name="address" />
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" />
    </div>
    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" />
    </div>

    <button
      (click)="addUser({ fName: 'Mary', lName: 'Williams', isActive: true })"
      [disabled]="!enableAdd"
      class="btn btn-light btn-block mb-3"
    >
      Add New User
    </button>
  </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li
    class="card card-body mb-2"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
  >
    <h3>
      {{ user.fName }} {{ user.lName }}
      <small *ngIf="user.age && user.address"
        ><button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button
      ></small>
    </h3>

    <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">
        Address:
        {{ user.address.street }}
        {{ user.address.city }}
        {{ user.address.state }}
      </li>
      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>
<h2 *ngIf="users?.length == 0">No Users found</h2>
<h2 *ngIf="!loaded">Loading users..</h2>
