<button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm">
  Add User
</button>
<div class="card card-body" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="user.fName"
        #userFirstName="ngModel"
        required
        minlength="2"
        [ngClass]="{
          'is-invalid': userFirstName.errors && userFirstName.touched
        }"
      />
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
        First name required
      </div>

      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
        Must be atleast 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        [(ngModel)]="user.lName"
        #userLastName="ngModel"
        required
        minlength="2"
        [ngClass]="{
          'is-invalid': userLastName.errors && userLastName.touched
        }"
      />
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
        Last name required
      </div>

      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
        Must be atleast 2 characters
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        #userEmail="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        [ngClass]="{
          'is-invalid': userEmail.errors && userEmail.touched
        }"
      />
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email required
      </div>

      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid
      </div>
    </div>

    <button
      [disabled]="!userForm.form.valid"
      class="btn btn-light btn-block mb-3"
    >
      Add New User
    </button>
  </form>
</div>
<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li
    class="card card-body mb-2"
    *ngFor="let user of users"
    [class.bg-light]="user.isActive"
  >
    <h3>
      {{ user.fName }} {{ user.lName }}
      <small
        ><button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button
      ></small>
    </h3>

    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>
<h2 *ngIf="users?.length == 0">No Users found</h2>
<h2 *ngIf="!loaded">Loading users..</h2>
